@import "vars";
* {
  padding: 0;
  margin: 0;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.header {
  background: url(/img/top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  &_top {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: $color-text;
    width: 780px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &_desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: $color-text;
    height: 64px;
    width: 480px;
    &--bold {
      font-weight: 700;
    }
  }
  &_button {
    background: #9c0332;
    border-radius: 30px;
    color: $color-text;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 234px;
    height: 48px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
.main {
  background: #000915;
  background-repeat: no-repeat;
  background-size: cover;
}
.games {
  color: $color-text;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  &_game1 {
    background: url(../img/game1.jpg);
  }
  &_game2 {
    background: url(../img/game2.jpg);
  }
  &_game3 {
    background: url(../img/game3.jpg);
  }
  &_game {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: flex-end;
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 128px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 5px #ccc;
    }
  }
}

@import "mobile";
