* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: #fff;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background: #000915;
  background: url(/img/top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.header_top {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #fff;
  width: 780px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  height: 64px;
  width: 480px;
}
.header_desc--bold {
  font-weight: 700;
}
.header_button {
  background: #9c0332;
  border-radius: 30px;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 234px;
  height: 48px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav {
  background: #000915;
  background-repeat: no-repeat;
  background-size: cover;
}

.games {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.games_game1 {
  background: url(../img/game1.jpg);
}
.games_game2 {
  background: url(../img/game2.jpg);
}
.games_game3 {
  background: url(../img/game3.jpg);
}
.games_game {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: flex-end;
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 128px;
  cursor: pointer;
  transition: all 0.3s;
}
.games_game:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #44d2ff;
}

.main {
  background: #000915;
  max-height: 1600px;
}

.seasons,
.remember {
  padding-top: 410px;
  display: flex;
  color: #ffffff;
}
.seasons_game,
.remember_game {
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-right: 132px;
}
.seasons_header,
.remember_header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}
.seasons_desc,
.remember_desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.seasons_button,
.remember_button {
  background: #9c0332;
  border-radius: 30px;
  color: #fff;
  width: 234px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.seasons_img,
.remember_img {
  margin-bottom: 30px;
}

.remember {
  padding-top: 238px;
  padding-bottom: 240px;
  display: flex;
  flex-direction: row-reverse;
}
.remember_game {
  margin-right: 0px;
  margin-left: 132px;
}

@media (max-width: 765px) {
  .center {
    padding-left: 15px;
    padding-right: 15px;
  }
  .games {
    display: flex;
    flex-direction: column;
  }
  .games_game {
    margin-bottom: 0;
  }
  .header {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    align-items: center;
  }
  .header_top {
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    align-items: center;
  }
  .header_desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    max-width: 343px;
    max-height: 66px;
    text-align: center;
  }
  .nav {
    box-sizing: border-box;
  }
  .main {
    padding-top: 178px;
  }
  .seasons, .remember {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  .seasons_game, .remember_game {
    gap: 32px;
    margin-right: 0;
    margin-bottom: 64px;
    align-items: center;
  }
  .seasons_header, .remember_header {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  .seasons_desc, .remember_desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }
  .seasons_img, .remember_img {
    max-width: 344px;
    max-height: 236px;
  }
  .remember {
    padding-top: 130px;
    padding-bottom: 0px;
  }
  .remember_game {
    margin-left: 0px;
  }
  .remember_img {
    margin-bottom: 60px;
  }
}/*# sourceMappingURL=style.css.map */